<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2048 Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="home-link">
        <a href="https://mkhome.byst.re" title="Return to Home">
            <i class="fas fa-home"></i>
        </a>
    </div>
    <div class="container">
        <h1>2048</h1>
        <div class="score-container">Score: <span id="score">0</span></div>
        <div class="grid-container">
            <div class="grid"></div>
        </div>
        <button id="new-game">New Game</button>
    </div>
    <script src="{{ url_for('static', filename='game.js') }}"></script>
</body>
</html> 